---
title: Scenarios
layout: default
excerpt: The perfect OAS (Swagger) companion. Supercharge any OAS file with mocking, transformations, validations, and more.
image: https://stoplight.io/assets/img/prism.png
---

<div id='scenarios' class='page'>
  <div class='page-hero background-scenarios'>
    <div class='container'>
      <div class='page-hero-title'>
        <h1>Stoplight Scenarios</h1>
        <h2>Test, automate, and debug web APIs + AWS Lambda.</h2>
      </div>

      <div class='page-image' style='background-image: url("https://cdn.stoplight.io/stoplightio/scenarios-hero.png")'></div>
    </div>
  </div>

  <a name='beta'></a>

  <div class='callout-bar'>
    <ul>
      <li>HTTP Debug</li>
      <li class='divider'></li>
      <li>Invoke Lambda</li>
      <li class='divider'></li>
      <li>Contract Testing</li>
      <li class='divider'></li>
      <li>Environments</li>
      <li class='divider'></li>
      <li>Multi-Step</li>
      <li class='divider'></li>
      <li>Run From Terminal</li>
    </ul>
  </div>

  {% include register-beta.html %}

  <div class='timeline scenarios'>
    <div class='timeline-content f jc-c hidden-xs'>
      <div class='f-1 timeline-left'>
        <timeline-left class='timeline-left-block ta-r' v-for='info in left' :info='info'></timeline-left>
      </div>
      <div class='f-1 timeline-right'>
        <timeline-right class='timeline-right-block ta-l' v-for='info in right' :info='info'></timeline-right>
      </div>
    </div>

    <div class='timeline-content visible-xs'>
      <div class='timeline-block' v-for='info in mobile'>
        <div class='timeline-title'>${info.title}</div>
        <div class='f fw-w'>
          <div class='timeline-feature f-1' v-for='feature in info.features'>
            <div class='timeline-feature-info'>
              <div class='timeline-feature-title'>${feature.title}</div>
              <div class='timeline-feature-message'>${feature.message}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include register-beta.html %}
</div>
