<section class='page-section' id='download'>
    <div class='container'>
      <h3>Get Started Today</h3>
      <div class='section-tagline'>
        {% if include.tagline %}
          {{include.tagline}}
        {% else %}
          Stoplight is <span class='td-u'>free</span> for individuals.
        {% endif %}
      </div>
      <div class='app-blocks'>
        <a class='app-block' href='https://app.stoplight.io/register'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-cloud'></i></div>
            <div class='app-block-name'>Web</div>
          </div>
        </a>
        <a class='app-block' href='http://download.stoplight.io/download/osx'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-apple'></i></div>
            <div class='app-block-name'>macOS</div>
          </div>
        </a>
        <a class='app-block' href='http://download.stoplight.io/download/windows'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-windows'></i></div>
            <div class='app-block-name'>Windows</div>
          </div>
        </a>
        <a class='app-block' href='http://download.stoplight.io/download/linux'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-linux'></i></div>
            <div class='app-block-name'>Linux</div>
          </div>
        </a>
      </div>
    </div>
  </section>
