<section class='page-section' id='download'>
    <div class='container'>
      <h3>Get Started Today</h3>
      <div class='section-tagline'>Stoplight is free for individuals.</div>
      <div class='app-blocks'>
        <a class='app-block'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-cloud'></i></div>
            <div class='app-block-name'>Web</div>
          </div>
        </a>
        <a class='app-block'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-apple'></i></div>
            <div class='app-block-name'>macOS</div>
          </div>
        </a>
        <a class='app-block'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-windows'></i></div>
            <div class='app-block-name'>Windows</div>
          </div>
        </a>
        <a class='app-block'>
          <div class='app-block-inner'>
            <div class='app-block-icon'><i class='fa fa-linux'></i></div>
            <div class='app-block-name'>Linux</div>
          </div>
        </a>
      </div>
    </div>
  </section>
