<footer class="site-footer">
  <div class="container">
    <div class="site-footer-content">
      <a href="/" class="site-footer-brand">
        <img src="/assets/img/logo-dark.png" alt="{{site.title}}" width="108" height="27"/>
      </a>

      <a href="http://techstars.com" class="site-footer-ts" target='_blank'>
        <img src="/assets/img/techstars.png" alt="Techstars" width="55" />
      </a>

      <div class="site-footer-links">
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="https://blog.stoplight.io" target="_blank">Blog</a>
          </li>
          <li>
            <a href="http://press.stoplight.io">Press</a>
          </li>
          <li>
            <a href="https://app.stoplight.io/support/learn" target="_blank">Docs</a>
          </li>
          <li>
            <a href="http://api-docs.io" target="_blank">API Docs</a>
          </li>
          <li class="d-n">
            <a href="/prism" target="_blank">Prism</a>
          </li>
          <li>
            <a href="http://status.stoplight.io" target="_blank">Status</a>
          </li>
          <li>
            <a href="https://app.stoplight.io/login" data-medium='footer' target="_blank">Login</a>
          </li>
          <li>
            <a href="https://app.stoplight.io/register" data-medium='footer' target="_blank">Register</a>
          </li>
        </ul>

        <ul class="list-inline">
          <li><a href='mailto:{{site.email}}'>{{site.email}}</a></li>
          <li>
            <a href='https://twitter.com/{{site.twitter_username}}' target='_blank'>
              <i class='fa fa-twitter'></i> @stoplightio
            </a>
          </li>
          <li>
            <a href='/terms'>Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
