<header class="navbar navbar-flat navbar-light navbar-fixed-top {{page.header_theme}}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand f ai-c" href="/">
        <img src="/assets/img/mark_light.png" alt="{{site.title}}" width="25" height="25" class="f-0 light" />
        <img src="/assets/img/mark_dark.png" alt="{{site.title}}" width="25" height="25" class="f-0 dark" />
        <div class='f-0'>StopLight</div>
      </a>
    </div>
    <nav id="navbar" class="navbar-collapse collapse">
      {% include nav.html %}
    </nav>
  </div>
</header>
