<section class="invite-section" id="invite">
  <h2>Join Our Private Beta</h2>

  <form class="form-inline invite-form" data-page="{{include.page}}">
    <div class="form-group">
      <label class="sr-only" for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email"
             required>
    </div>

    <div class="form-platform-selector">
      <div class="form-platform-selector-name">Platform</div>
      <ul class="form-platform-selector-options">
        <li data-name="windows" title="Windows">
          <i class="fa fa-windows"></i>
        </li>
        <li data-name="osx" title="OS X">
          <i class="fa fa-apple"></i>
        </li>
        <li data-name="linux" title="Linux">
          <i class="fa fa-linux"></i>
        </li>
      </ul>
    </div>

    <button type="submit" class="btn btn-brand">Invite Me</button>
  </form>
</section>
