<ul class='nav navbar-nav navbar-right'>
  <li class='nav-dropdown'>
    <a class='dropdown-toggle' id='dropdownMenu1' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      Platform
      <span class='caret'></span>
    </a>
    <div class='dropdown-block-menu' aria-labelledby='dropdownMenu1'>
      <div class='dropdown-block-menu-inner'>
        <a class='dropdown-block-menu-block design' href='/platform/design'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-puzzle-piece'></i>
          </div>
          API Designer
        </a>
        <a class='dropdown-block-menu-block docs' href='/platform/docs'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-book'></i>
          </div>
          Hosted Docs
        </a>
        <a class='dropdown-block-menu-block scenarios' href='/platform/scenarios'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-flask'></i>
          </div>
          Scenarios
        </a>
        <a class='dropdown-block-menu-block prism' href='/platform/prism'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-code'></i>
          </div>
          Prism
        </a>
        <div class='dropdown-block-menu-caret'>
          <i class='fa fa-caret-up'></i>
        </div>
      </div>
    </div>
  </li>
  <li class='nav-dropdown'>
    <a class='dropdown-toggle' id='dropdownMenu2' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      Resources
      <span class='caret'></span>
    </a>
    <div class='dropdown-block-menu' aria-labelledby='dropdownMenu1'>
      <div class='dropdown-block-menu-inner'>
        <a class='dropdown-block-menu-block' href='https://help.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-book'></i>
          </div>
          Read The Docs
        </a>
        <a class='dropdown-block-menu-block' href='https://blog.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-rss'></i>
          </div>
          Blog
        </a>
        <a class='dropdown-block-menu-block' href='http://status.stoplight.io'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-life-ring'></i>
          </div>
          Status
        </a>
        <a class='dropdown-block-menu-block' href='https://twitter.com/stoplightio'>
          <div class='dropdown-block-menu-icon f ai-c jc-c'>
            <i class='fa fa-twitter'></i>
          </div>
          Twitter
        </a>
        <div class='dropdown-block-menu-caret'>
          <i class='fa fa-caret-up'></i>
        </div>
      </div>
  </li>
  <li>
    <a href='https://app.stoplight.io/pricing' target='_blank'>Pricing</a>
  </li>
  <li>
    <a href='https://app.stoplight.io/login' target='_blank'>Login</a>
  </li>
  <li>
    <a href='https://app.stoplight.io/register' target='_blank'>Register</a>
  </li>
</ul>
