<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="/">HOME</a>
  </li>
  <li>
    <a href="http://api-docs.io" target="_blank">API DOCS</a>
  </li>
  <li>
    <a href="/prism">PRISM</a>
  </li>
  <li>
    <a href="/#pricing" class="animated-scroll">PRICING</a>
  </li>
  <li>
    <a href="https://blog.stoplight.io" target="_blank">BLOG</a>
  </li>
  <li>
    <a href="https://designer.stoplight.io/login" data-medium="nav" target="_blank">LOGIN</a>
  </li>
  <li>
    <div>
      <a class="btn btn-signup navbar-btn" href="https://designer.stoplight.io/register"
         target="_blank" data-medium="nav">SIGN UP FREE</a>
    </div>
  </li>
</ul>
