.btn-stoplight {
  @include button-variant($navbar-active-link-color, #fff, $navbar-active-link-color);
  border-radius: $border-radius-base;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.btn-brand {
  @include button-variant(#fff, #ba4ae7, #ba4ae7);
}

.btn-info-light {
  @include button-variant(#689ff4, lighten(#689ff4, 28%), lighten(#689ff4, 28%));
}

.btn-signup {
  @include button-variant(#fff, transparent, $navbar-active-link-color);

  &:hover {
    background-color: $navbar-active-link-color;
    color: #fff;
  }
}
