.btn-stoplight {
  @include button-variant($navbar-active-link-color, #fff, $navbar-active-link-color);
  border-radius: $border-radius-base;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $default-weight;
}

.btn-brand {
  @include button-variant($font-light-color, #ba4ae7, #ba4ae7);
}

.btn-info-light {
  @include button-variant(#689ff4, lighten(#689ff4, 28%), lighten(#689ff4, 28%));
}

.btn-signup {
  @include button-variant($font-light-color, transparent, $navbar-active-link-color);

  &:hover {
    background-color: $navbar-active-link-color;
    color: $font-light-color;
  }
}
