.btn-stoplight {
  @include button-variant(#ba4ae7, #fff, #ba4ae7);
  padding: 5px 20px;
  border-width: 2px;
  box-shadow: 0 0 1px 0 rgba(#000, .50);
  border-radius: $border-radius-base;
}

.btn-brand {
  @include button-variant(#fff, #ba4ae7, #ba4ae7);
}

.btn-info-light {
  @include button-variant(#689ff4, lighten(#689ff4, 28%), lighten(#689ff4, 28%));
}
