.site-footer {
  line-height: $footer-line-height;
  padding-bottom: 20px;

  .container {
    width: 100%;
    max-width: 1400px;
  }

  .site-footer-content {
    position: relative;

    &:before {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      left: 0;
      top: 27px;
      border-top: 1px solid #eee;
      z-index: 0;
    }
  }

  .site-footer-brand {
    background-color: #fff;
    margin-top: 12px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 20px;
  }

  .site-footer-ts {
    background-color: #fff;
    top: -3px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 25px;
  }

  .site-footer-links {
    text-align: right;
    float: right;
  }

  ul {
    margin: 0;
  }

  a {
    color: $font-grey-color;
    font-size: $footer-size;
    font-weight: $default-weight;

    &:hover {
      text-decoration: none;
      color: $font-dark-color;
    }
  }

  .fa {
    font-size: 14px;
    color: #4099ff;
  }
}
