.site-footer {
  line-height: 1.7;
  padding: 20px 100px 20px 20px;
  background-color: #1A222C;
  color: white;

  @media #{$mobile} {
    padding: 0px 0px 80px 0px;
  }

  .container {
    width: 100%;
    max-width: 1250px;
  }

  .site-footer-content {
    position: relative;

    @media #{$mobile} {
      text-align: center;
    }

    &:before {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      left: 0;
      top: 65px;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      z-index: 0;

      @media #{$mobile} {
        top: 72px;
      }
    }
  }

  .site-footer-brand {
    background-color: #1A222C;
    margin-top: 23px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 20px;
  }

  .site-footer-ts {
    background-color: #1A222C;
    top: -3px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 25px;
    margin-left: -5px;
  }

  .site-footer-links {
    text-align: right;
    float: right;

    @media #{$mobile} {
      float:none;
      text-align: center;
    }
  }

  ul {
    margin: 25px 0;

    @media #{$mobile} {
      margin: 10px 0 0 0;
    }

    &:first-child {
      @media #{$mobile} {
        margin: 35px 0 0 0;
      }
    }

    li {
      @media #{$mobile} {
        padding:0 13px;
      }
    }
  }

  a {
    color: rgba(#000, .75);
    font-size: 12px;
    font-weight: 300;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .fa {
    font-size: 14px;
    color: #4099ff;
  }
}
