.site-footer {
  line-height: 1.7;
  padding: 20px;
  background-color: #1A222C;
  color: white;

  .container {
    width: 100%;
    max-width: 1250px;
  }

  .site-footer-content {
    position: relative;

    @media #{$mobile} {
      text-align: center;
    }

    &:before {
      content: '';
      height: 0;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      z-index: 0;
    }
  }

  .site-footer-brand {
    background-color: #1A222C;
    margin-top: 37px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 20px;
  }

  .site-footer-ts {
    background-color: #1A222C;
    top: -3px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 25px;
    margin-left: -5px;
  }

  .site-footer-links {
    text-align: right;
    float: right;
  }

  ul {
    margin: 15px 0;
  }

  a {
    color: rgba(#000, .75);
    font-size: 12px;
    font-weight: 300;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  .fa {
    font-size: 14px;
    color: #4099ff;
  }
}
