// Flexbox

.f {
  display: flex;
  flex: none;
}

.f-0 {
  flex: 0 0 auto;
}

.f-1 {
  flex: 1;
  min-height: 0;
}

.ai-c {
  align-items: center;
}

.d-n {
  display: none !important;
}

.fd-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.fw-w {
  flex-wrap: wrap;
}

.h-100 {
  height: 100%;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.pos-r {
  position: relative;
}

.mb-1 {
  margin-bottom: 10px;
}

.td-u {
  text-decoration: underline;
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}
