.navbar {
  .container {
    width: 100%;
    max-width: 1400px;
  }

  .v2-alert {
    width: 100%;
    text-align: center;
    color: white;
    background: #4a90e2;
    padding: 8px 0;
    letter-spacing: 0px;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.navbar-flat {
  transition: background-color .3s ease;
  border: 0 none;
  background-color: transparent;

  .navbar-brand {
    padding: 0 0 0 15px;
    line-height: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    transition: color .3s ease;
    -webkit-text-stroke-width: 0.2px;

    img {
      margin: -2px 8px 0 0;
      &.light {
        display: none;
      }
    }
  }

  .navbar-nav {
    > li {
      padding: 0 10px;
      &:first-child {
        padding-left: 0px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }

    > li {
      > a, .btn {
        transition: color .3s ease;
        font-size: 14px;
        font-weight: 300;
      }

      > a {
        color: #fff;
        padding-left: 7px;
        padding-right: 7px;

        &:hover,
        &:focus {
          background: transparent;
          color: lighten($navbar-active-link-color, 25%);
        }
      }
    }

    > .active > a {
      cursor: default;

      &,
      &:hover,
      &:focus {
        color: #999;
      }
    }

    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;

    .icon-bar {
      background-color: $navbar-default-toggle-border-color;
    }
  }

  .navbar-collapse.in {
    background-color: #34495e;
  }
}
.navbar-flat.affix {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(#000, .15);
}

.navbar-flat.affix,
.navbar-flat.light {
  .navbar-brand {
    color: #888;

    img {
      &.light {
        display: block;
      }

      &.dark {
        display: none;
      }
    }
  }

  .navbar-nav {
    > li {
      > a, .btn {
        color: #888;

        &:hover {
          color: $navbar-active-link-color;
        }
      }

      .btn {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
