.page {
  padding-top: $navbar-height;

  section {
    padding: 90px 0;
  }
}

.page-hero {
  color: #fff;
  text-align: center;
  background-color: #34495e;
  min-height: 485px;
  margin-top: -$navbar-height;

  @media (max-width: $grid-float-breakpoint) {
    margin-top: 70px;
  }

  h2 {
    line-height: 1;
    font-size: 40px;
    font-weight: 300;
    margin-top: 160px;

    @media (max-width: $grid-float-breakpoint) {
      margin-top: 20px;
    }
  }

  p {
    font-size: 22px;
    margin-top: 60px;
    font-weight: 300;
  }
}

// Home page

.home-page {
  font-weight: 300;

  .home-page-section {
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    h2 {
      margin: 80px 0;
    }

    p {
      margin: 30px 0 0;
      color: #818a92;
    }

    .home-page-section-actions {
      margin-top: 120px;
    }
  }

  .sl-customers-list {
    text-align: center;
    background-color: #F9F9FA;
    box-shadow: 0 0 6px rgba(#000, .70);
    padding: 21px 0;

    ul {
      @extend .list-inline;
      margin: 0;
    }

    a {
      display: block;
      opacity: .5;
    }

    li + li {
      margin-left: 60px;
    }
  }

  .sl-customers {
    padding: 80px 0;
    text-align: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #eee;

    h2 {
      margin: 0;
    }

    .sl-customer {
      text-align: center;
      margin-top: 70px;
    }

    blockquote {
      border: 0 none;
      max-width: 700px;
      margin: 5px auto;
      font-size: 16px;
      color: #818a92;
      line-height: 30px;
    }

    footer {
      margin-top: 20px;
      font-size: 16px;
      color: #333c4f;

      cite {
        font-style: normal;
      }
    }
  }

  .get-started {
    text-align: center;
    padding: 60px 0;
  }
}
