.page {
  padding-top: $navbar-height;

  section {
    padding: 90px 0;
  }
}

#le-dots {
  position: absolute;
  left: -100px;
  right: -100px;
  top: -100px;
  bottom: -100px;
  z-index: 5;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-hero {
  color: #fff;
  text-align: center;
  background-color: #111D2B;
  min-height: 535px;
  margin-top: -$navbar-height;
  position: relative;
  overflow: hidden;

  @media (max-width: $grid-float-breakpoint) {
    margin-top: 70px;
  }

  h2 {
    line-height: 1;
    font-size: 44px;
    font-weight: 300;
    margin-top: 180px;
    position: relative;
    z-index: 50;
    text-shadow: 0 0 20px rgba(black, 0.75);

    @media (max-width: $grid-float-breakpoint) {
      margin-top: 20px;
    }
  }

  p {
    font-size: 22px;
    font-weight: lighter;
    margin: 30px 0 75px 0;
    font-weight: 300;
    position: relative;
    z-index: 50;
    text-shadow: 0 0 10px rgba(black, 0.75);
  }

  .btn-stoplight {
    border: none;
    position: relative;
    z-index: 50;
  }
}

// Home page

.home-page {
  font-weight: 300;

  .home-page-section {
    border-bottom: 1px solid #ddd;
    overflow: hidden;

    h2 {
      margin: 0 0 60px 0;
      font-weight: lighter;
      color: #333c4e;
    }

    p {
      margin: 25px 0 0;
      color: #818a92;
      line-height: 32px;
    }

    .home-page-section-actions {
      margin-top: 70px;
    }
  }

  .home-page-feature {
    margin: 0 auto;
    max-width: 550px;
    padding-left: 30px;

    &.no-pad {
      padding-left: 0;
    }
  }

  .home-page-feature-img {
    margin: auto;
    max-width: 650px;
  }

  .sl-customers-list {
    text-align: center;
    background-color: #F9F9FA;
    box-shadow: 0 -1px 6px rgba(#000, .5);
    padding: 21px 0;
    position: relative;
    z-index: 10;

    ul {
      @extend .list-inline;
      margin: 0;
    }

    a {
      display: block;
      opacity: .5;
      transition: all 0.25s;

      &:hover {
        opacity: 1;
      }
    }

    li {
      margin: 0 25px;
    }
  }

  .sl-customers {
    padding: 80px 0;
    text-align: center;
    background-color: #F9F9F9;
    border-bottom: 1px solid #eee;

    h2 {
      margin: 0;
    }

    .sl-customer {
      text-align: center;
      margin-top: 70px;
    }

    blockquote {
      border: 0 none;
      max-width: 700px;
      margin: 5px auto;
      font-size: 16px;
      color: #818a92;
      line-height: 30px;
    }

    footer {
      margin-top: 20px;
      font-size: 16px;
      color: #333c4f;

      cite {
        font-style: normal;
      }
    }
  }

  .get-started {
    text-align: center;
    padding: 60px 0;
  }

  .container {
    width: 100%;
  }
}

/////////////
// FLEXBOX //
/////////////

.f {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: none;
  flex: none;
}
.f-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.f-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 0;
}
.ai-c {
  align-items: center;
}
