.register-beta-form {
  margin: 50px 0 10px;
  height: 50px;

  input, button {
    height: 100%;
    vertical-align: top;
  }

  input {
    padding: 15px;
    width: 350px;
  }

  button {
    background-color: $background-design;
    color: white;
    margin-left: -5px;

    &:hover, &:focus {
      color: white;
      background-color: rgba($background-design, 0.9);
    }
  }
}

.register-beta-error {
  color: #e74c3c;
  font-weight: bold;
}
