.Terms-section {
  margin: 50px 0 30px 0;
  font-size: $h3-size;
}

.Terms-subsection {
  margin: 30px 0 10px 0;
  font-size: $font-size;
}

.Terms-list {
  font-weight: $default-weight;
  list-style-type: lower-alpha;
}
