$borderSize: 2px;

.timeline {
  border-top: $borderSize solid;
  border-bottom: $borderSize solid;

  &.scenarios {
    border-color: $background-scenarios;

    .timeline-title,
    .timeline-info-dot-right,
    .timeline-info-dot-left {
      color: $background-scenarios;
    }
    .timeline-left,
    .timeline-title-dot {
      border-color: $background-scenarios;
    }
  }
  &.design {
    border-color: $background-design;

    .timeline-title,
    .timeline-info-dot-right,
    .timeline-info-dot-left {
      color: $background-design;
    }
    .timeline-left,
    .timeline-title-dot {
      border-color: $background-design;
    }
  }
  &.docs {
    border-color: $background-docs;

    .timeline-title,
    .timeline-info-dot-right,
    .timeline-info-dot-left {
      color: $background-docs;
    }
    .timeline-left,
    .timeline-title-dot {
      border-color: $background-docs;
    }
  }
}

.timeline-content {
  max-width: 1400px;
  margin: auto;

  @media #{$mobile} {
    padding: 20px;
  }
}

.timeline-left, .timeline-right {
  width: 50%;
  padding-bottom: 75px;

  @media #{$mobile} {
    width: 100%;
  }
}

.timeline-block {
  @media #{$mobile} {
    padding: 10px 0;
  }
}

.timeline-left {
  border-right: $borderSize solid;
  padding-right: 50px;

  @media #{$mobile} {
    padding: 0;
    border: none;
  }
}

.timeline-right {
  padding-left: 50px;

  @media #{$mobile} {
    padding: 0;
  }
}


.timeline-left-block, .timeline-right-block {
  padding: 50px 0;

  @media #{$mobile} {
    text-align: center;
    padding: 0;
  }
}

.timeline-title {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin: 40px 0;

  @media #{$mobile} {
    height: auto;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
  }
}

.timeline-image {
  background-size: cover;

  @media #{$mobile} {
    display: none;
  }
}

.timeline-feature-info, .timeline-image {
  height: 375px;
  width: 375px;
  position: relative;
  margin-top: -30px;
  margin-bottom: -30px;

  @media #{$mobile} {
    height: auto;
    width: auto;
    margin: auto;
    padding: 10px;
  }
}

.timeline-title-dot {
  position: absolute;
  top: 0;
  right: -69px;
  background: white;
  height: 36px;
  width: 36px;
  border: $borderSize solid;
  border-radius: 50%;

  @media #{$mobile} {
    display: none;
  }
}

.timeline-feature-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.timeline-info-dot-right, .timeline-info-dot-left {
  position: absolute;
  font-size: 40px;
  top: 50%;
  margin-top: -30px;

  @media #{$mobile} {
    display: none;
  }
}

.timeline-info-dot-right {
  right: -64.5px;
}

.timeline-info-dot-left {
  left: -64.5px;
}
