$navbar-active-link-color: #bd10e0;

$border-radius-base: 2px;

// Grid
$wide-grid-gutter-width: 50px;

// Typography
$font-family-sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

// Navbar
$navbar-height: 86px;

// Container
$container-desktop: 1050px;
$container-large-desktop: 1050px;
